.inputSearch {
  outline: none;
  border-radius: 100px;
  border: rem(2px) solid var(--mantine-color-gray-0);
  background: var(--mantine-color-gray-1);
  color: var(--mantine-color-gray-0);
  font-size: rem(14px);
  /* box-shadow: 0px 4px 4px 0px #000; */
}

